In [1]:
import pandas as pd
countydata = pd.read_csv('/Users/holliknight/Downloads/covid-19-county-level-data.csv.zip')

In [2]:
countydata.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [3]:
casedata = countydata.drop(columns = ['date', 'fips','deaths'])
casedata.head()

      county       state  cases
0  Snohomish  Washington      1
1  Snohomish  Washington      1
2  Snohomish  Washington      1
3       Cook    Illinois      1
4  Snohomish  Washington      1

In [4]:
casedata = pd.DataFrame(casedata.groupby(["state","county"]).sum())
casedata.head()

                 cases
state   county
Alabama Autauga    649
        Baldwin   2454
        Barbour    393
        Bibb       536
        Blount     512

In [5]:
deathdata = countydata.drop(columns = ['date', 'fips','cases'])
deathdata = pd.DataFrame(deathdata.groupby(["state","county"]).sum())
deathdata.head()

                 deaths
state   county
Alabama Autauga      33
        Baldwin      50
        Barbour       0
        Bibb          0
        Blount        0

In [7]:
df = pd.concat([casedata, deathdata], axis=1)

In [8]:
df.head()

                 cases  deaths
state   county
Alabama Autauga    649      33
        Baldwin   2454      50
        Barbour    393       0
        Bibb       536       0
        Blount     512       0

In [9]:
df['deathrate'] = df['deaths']/df['cases']

In [10]:
df.head()

                 cases  deaths  deathrate
state   county
Alabama Autauga    649      33   0.050847
        Baldwin   2454      50   0.020375
        Barbour    393       0   0.000000
        Bibb       536       0   0.000000
        Blount     512       0   0.000000

In [11]:
rankings = pd.read_csv('/Users/holliknight/Downloads/us-county-health-rankings-2020.csv')

In [12]:
rankings.head()

,fips,state,county,num_deaths,years_of_potential_life_lost_rate,95percent_ci_low,95percent_ci_high,quartile,ypll_rate_aian,ypll_rate_aian_95percent_ci_low,...,percent_hispanic,num_non_hispanic_white,percent_non_hispanic_white,num_not_proficient_in_english,percent_not_proficient_in_english,95percent_ci_low_39,95percent_ci_high_39,percent_female,num_rural,percent_rural
0,1000,Alabama,NaN,81791.0,9942.794666,9840.535949,10045.053384,NaN,NaN,NaN,...,4.443264,3197324,65.413428,48517,1.061048,1.006759,1.115337,51.633032,1957932.0,40.963183
1,1001,Alabama,Autauga,791.0,8128.591190,7283.340731,8973.841649,1.0,NaN,NaN,...,2.965774,41316,74.308016,426,0.820225,0.347891,1.292558,51.448715,22921.0,42.002162
2,1003,Alabama,Baldwin,2967.0,7354.122530,6918.554269,7789.690790,1.0,NaN,NaN,...,4.646779,181201,83.111337,1068,0.543517,0.347271,0.739763,51.538377,77060.0,42.279099
3,1005,Alabama,Barbour,472.0,10253.573403,8782.217281,11724.929524,2.0,NaN,NaN,...,4.276355,11356,45.641252,398,1.631683,0.824903,2.438462,47.216752,18613.0,67.789635
4,1007,Alabama,Bibb,471.0,11977.539484,10344.064842,13611.014126,3.0,NaN,NaN,...,2.625000,16708,74.589286,57,0.268210,0.000000,0.807504,46.781250,15663.0,68.352607

In [14]:
rankings = rankings.drop(columns=['fips'])

In [15]:
rankings.head()

,state,county,num_deaths,years_of_potential_life_lost_rate,95percent_ci_low,95percent_ci_high,quartile,ypll_rate_aian,ypll_rate_aian_95percent_ci_low,ypll_rate_aian_95percent_ci_high,...,percent_hispanic,num_non_hispanic_white,percent_non_hispanic_white,num_not_proficient_in_english,percent_not_proficient_in_english,95percent_ci_low_39,95percent_ci_high_39,percent_female,num_rural,percent_rural
0,Alabama,NaN,81791.0,9942.794666,9840.535949,10045.053384,NaN,NaN,NaN,NaN,...,4.443264,3197324,65.413428,48517,1.061048,1.006759,1.115337,51.633032,1957932.0,40.963183
1,Alabama,Autauga,791.0,8128.591190,7283.340731,8973.841649,1.0,NaN,NaN,NaN,...,2.965774,41316,74.308016,426,0.820225,0.347891,1.292558,51.448715,22921.0,42.002162
2,Alabama,Baldwin,2967.0,7354.122530,6918.554269,7789.690790,1.0,NaN,NaN,NaN,...,4.646779,181201,83.111337,1068,0.543517,0.347271,0.739763,51.538377,77060.0,42.279099
3,Alabama,Barbour,472.0,10253.573403,8782.217281,11724.929524,2.0,NaN,NaN,NaN,...,4.276355,11356,45.641252,398,1.631683,0.824903,2.438462,47.216752,18613.0,67.789635
4,Alabama,Bibb,471.0,11977.539484,10344.064842,13611.014126,3.0,NaN,NaN,NaN,...,2.625000,16708,74.589286,57,0.268210,0.000000,0.807504,46.781250,15663.0,68.352607

In [16]:
mainranks = pd.DataFrame(rankings.groupby(["state","county"]).sum())
mainranks.head()

                 num_deaths  years_of_potential_life_lost_rate  \
state   county
Alabama Autauga       791.0                        8128.591190
        Baldwin      2967.0                        7354.122530
        Barbour       472.0                       10253.573403
        Bibb          471.0                       11977.539484
        Blount       1085.0                       11335.071134

                 95percent_ci_low  95percent_ci_high  quartile  \
state   county
Alabama Autauga       7283.340731        8973.841649       1.0
        Baldwin       6918.554269        7789.690790       1.0
        Barbour       8782.217281       11724.929524       2.0
        Bibb         10344.064842       13611.014126       3.0
        Blount       10288.871387       12381.270881       3.0

                 ypll_rate_aian  ypll_rate_aian_95percent_ci_low  \
state   county
Alabama Autauga             0.0                              0.0
        Baldwin             0.0                              0.0
        Barbour             0.0                              0.0
        Bibb                0.0                              0.0
        Blount              0.0                              0.0

                 ypll_rate_aian_95percent_ci_high  ypll_rate_asian  \
state   county
Alabama Autauga                               0.0              0.0
        Baldwin                               0.0              0.0
        Barbour                               0.0              0.0
        Bibb                                  0.0              0.0
        Blount                                0.0              0.0

                 ypll_rate_asian_95percent_ci_low      ...        \
state   county                                         ...
Alabama Autauga                               0.0      ...
        Baldwin                               0.0      ...
        Barbour                               0.0      ...
        Bibb                                  0.0      ...
        Blount                                0.0      ...

                 percent_hispanic  num_non_hispanic_white  \
state   county
Alabama Autauga          2.965774                   41316
        Baldwin          4.646779                  181201
        Barbour          4.276355                   11356
        Bibb             2.625000                   16708
        Blount           9.571231                   50255

                 percent_non_hispanic_white  num_not_proficient_in_english  \
state   county
Alabama Autauga                   74.308016                            426
        Baldwin                   83.111337                           1068
        Barbour                   45.641252                            398
        Bibb                      74.589286                             57
        Blount                    86.886238                            934

                 percent_not_proficient_in_english  95percent_ci_low_39  \
state   county
Alabama Autauga                           0.820225             0.347891
        Baldwin                           0.543517             0.347271
        Barbour                           1.631683             0.824903
        Bibb                              0.268210             0.000000
        Blount                            1.724520             1.198129

                 95percent_ci_high_39  percent_female  num_rural  \
state   county
Alabama Autauga              1.292558       51.448715    22921.0
        Baldwin              0.739763       51.538377    77060.0
        Barbour              2.438462       47.216752    18613.0
        Bibb                 0.807504       46.781250    15663.0
        Blount               2.250911       50.726141    51562.0

                 percent_rural
state   county
Alabama Autauga      42.002162
        Baldwin      42.279099
        Barbour      67.789635
        Bibb         68.352607
        Blount       89.951502

[5 rows x 498 columns]

In [17]:
maindf = pd.concat([df, mainranks], axis=1)

In [18]:
maindf.head()

                  cases  deaths  deathrate  num_deaths  \
state   county
Alabama Autauga   649.0    33.0   0.050847       791.0
        Baldwin  2454.0    50.0   0.020375      2967.0
        Barbour   393.0     0.0   0.000000       472.0
        Bibb      536.0     0.0   0.000000       471.0
        Blount    512.0     0.0   0.000000      1085.0

                 years_of_potential_life_lost_rate  95percent_ci_low  \
state   county
Alabama Autauga                        8128.591190       7283.340731
        Baldwin                        7354.122530       6918.554269
        Barbour                       10253.573403       8782.217281
        Bibb                          11977.539484      10344.064842
        Blount                        11335.071134      10288.871387

                 95percent_ci_high  quartile  ypll_rate_aian  \
state   county
Alabama Autauga        8973.841649       1.0             0.0
        Baldwin        7789.690790       1.0             0.0
        Barbour       11724.929524       2.0             0.0
        Bibb          13611.014126       3.0             0.0
        Blount        12381.270881       3.0             0.0

                 ypll_rate_aian_95percent_ci_low      ...        \
state   county                                        ...
Alabama Autauga                              0.0      ...
        Baldwin                              0.0      ...
        Barbour                              0.0      ...
        Bibb                                 0.0      ...
        Blount                               0.0      ...

                 percent_hispanic  num_non_hispanic_white  \
state   county
Alabama Autauga          2.965774                 41316.0
        Baldwin          4.646779                181201.0
        Barbour          4.276355                 11356.0
        Bibb             2.625000                 16708.0
        Blount           9.571231                 50255.0

                 percent_non_hispanic_white  num_not_proficient_in_english  \
state   county
Alabama Autauga                   74.308016                          426.0
        Baldwin                   83.111337                         1068.0
        Barbour                   45.641252                          398.0
        Bibb                      74.589286                           57.0
        Blount                    86.886238                          934.0

                 percent_not_proficient_in_english  95percent_ci_low_39  \
state   county
Alabama Autauga                           0.820225             0.347891
        Baldwin                           0.543517             0.347271
        Barbour                           1.631683             0.824903
        Bibb                              0.268210             0.000000
        Blount                            1.724520             1.198129

                 95percent_ci_high_39  percent_female  num_rural  \
state   county
Alabama Autauga              1.292558       51.448715    22921.0
        Baldwin              0.739763       51.538377    77060.0
        Barbour              2.438462       47.216752    18613.0
        Bibb                 0.807504       46.781250    15663.0
        Blount               2.250911       50.726141    51562.0

                 percent_rural
state   county
Alabama Autauga      42.002162
        Baldwin      42.279099
        Barbour      67.789635
        Bibb         68.352607
        Blount       89.951502

[5 rows x 501 columns]

In [20]:
ventstats = pd.read_csv('/Users/holliknight/Downloads/covid-statistics-by-us-states-totals.csv')

In [22]:
ventstats = ventstats.drop(columns=['notes'])
ventstats.head()

,state,positive,positivescore,negativescore,negativeregularscore,commercialscore,grade,score,dataqualitygrade,negative,...,checktimeet,death,hospitalized,total,totaltestresults,posneg,fips,datemodified,datechecked,hash
0,AK,351,1.0,1.0,1.0,1.0,A,4.0,B,16738,...,4/28 15:14,9,NaN,17089,17089,17089,2,2020-04-28 18:50:00,2020-04-28 19:14:00,f5f8fd60d9ab9000b01078ebb64a6ead70991838
1,AL,6687,1.0,1.0,0.0,1.0,B,3.0,B,69140,...,4/28 16:23,242,911.0,75827,75827,75827,1,2020-04-28 04:00:00,2020-04-28 20:23:00,ce913fed81a2519acc5fad3fa47a46d5de9791a7
2,AR,3111,1.0,1.0,1.0,1.0,A,4.0,B,37560,...,4/28 15:15,52,NaN,40671,40671,40671,5,2020-04-28 13:00:00,2020-04-28 19:15:00,db047c4c735a3fed6ceec83410b67647820351dc
3,AZ,6948,1.0,1.0,0.0,1.0,B,3.0,A+,60490,...,4/28 14:04,293,1095.0,67438,67438,67438,4,2020-04-27 04:00:00,2020-04-28 18:04:00,ed30f69fbcb735ea556fd73c6527c52e2ea64d95
4,CA,45031,1.0,1.0,0.0,1.0,B,3.0,B,532577,...,4/28 16:03,1809,NaN,577608,577608,577608,6,2020-04-27 04:00:00,2020-04-28 20:03:00,6465238e0ca54eddc1da1a09b2a529005bdefba6

In [23]:
ventstats

,state,positive,positivescore,negativescore,negativeregularscore,commercialscore,grade,score,dataqualitygrade,negative,...,checktimeet,death,hospitalized,total,totaltestresults,posneg,fips,datemodified,datechecked,hash
0,AK,351,1.0,1.0,1.0,1.0,A,4.0,B,16738,...,4/28 15:14,9,NaN,17089,17089,17089,2,2020-04-28 18:50:00,2020-04-28 19:14:00,f5f8fd60d9ab9000b01078ebb64a6ead70991838
1,AL,6687,1.0,1.0,0.0,1.0,B,3.0,B,69140,...,4/28 16:23,242,911.0,75827,75827,75827,1,2020-04-28 04:00:00,2020-04-28 20:23:00,ce913fed81a2519acc5fad3fa47a46d5de9791a7
2,AR,3111,1.0,1.0,1.0,1.0,A,4.0,B,37560,...,4/28 15:15,52,NaN,40671,40671,40671,5,2020-04-28 13:00:00,2020-04-28 19:15:00,db047c4c735a3fed6ceec83410b67647820351dc
3,AZ,6948,1.0,1.0,0.0,1.0,B,3.0,A+,60490,...,4/28 14:04,293,1095.0,67438,67438,67438,4,2020-04-27 04:00:00,2020-04-28 18:04:00,ed30f69fbcb735ea556fd73c6527c52e2ea64d95
4,CA,45031,1.0,1.0,0.0,1.0,B,3.0,B,532577,...,4/28 16:03,1809,NaN,577608,577608,577608,6,2020-04-27 04:00:00,2020-04-28 20:03:00,6465238e0ca54eddc1da1a09b2a529005bdefba6
5,CO,13879,1.0,1.0,1.0,1.0,A,4.0,B,52462,...,4/28 16:23,706,2485.0,66341,66341,66341,8,2020-04-27 04:00:00,2020-04-28 20:23:00,f063559b88e0fef04e412c6a95728c0208e00ab1
6,CT,26312,1.0,1.0,1.0,1.0,A,4.0,C,66433,...,4/28 16:32,2089,NaN,92745,92745,92745,9,2020-04-28 20:00:00,2020-04-28 20:32:00,418370a422d564a36e7c8b83b754201279cf4f41
7,DC,3994,1.0,1.0,1.0,1.0,A,4.0,B,14891,...,4/28 15:18,190,NaN,18885,18885,18885,11,2020-04-27 04:00:00,2020-04-28 19:18:00,d822076baa77d9b19ca7f2b6f4970948155367e2
8,DE,4575,1.0,1.0,1.0,1.0,A,4.0,B,16605,...,4/28 14:14,137,NaN,21180,21180,21180,10,2020-04-27 22:00:00,2020-04-28 18:14:00,f1dc2b68833acf698c626222df17522eb2018cc4
9,FL,32846,1.0,1.0,1.0,1.0,A,4.0,C,334029,...,4/28 14:54,1154,5266.0,368091,366875,366875,12,2020-04-28 13:36:00,2020-04-28 18:54:00,3d5078fbfdf9793d44cf19135faf64151c2c16d8
10,GA,24615,1.0,1.0,1.0,1.0,A,4.0,A,115405,...,4/28 14:07,1026,4814.0,140020,140020,140020,13,2020-04-28 17:25:00,2020-04-28 18:07:00,c948aec0c005525755302a694cb2c17cf4a05bcf
11,HI,607,1.0,1.0,1.0,1.0,A,4.0,B,28576,...,4/28 14:47,16,68.0,29183,29183,29183,15,2020-04-27 22:00:00,2020-04-28 18:47:00,e0360e5ebabaa4c59ccb4af5a030b9daae9e3c6d
12,IA,6376,1.0,1.0,1.0,1.0,A,4.0,B,33447,...,4/28 14:14,136,NaN,39823,39823,39823,19,2020-04-27 16:00:00,2020-04-28 18:14:00,803d290d7457e4bb1413b79dfc53387b34d7a5fe
13,ID,1917,1.0,1.0,1.0,1.0,A,4.0,C,18135,...,4/28 14:50,58,172.0,20052,20052,20052,16,2020-04-27 23:00:00,2020-04-28 18:50:00,60ca8d2476d6950067ecd37420a2573b9e015445
14,IL,48102,1.0,1.0,1.0,1.0,A,4.0,A,194087,...,4/28 16:01,2125,NaN,242189,242189,242189,17,2020-04-28 04:00:00,2020-04-28 20:01:00,68394edeb48c5c0c993baf356c1cb7fbf5902566
15,IN,16588,1.0,1.0,1.0,0.0,B,3.0,A,70593,...,4/28 14:17,901,NaN,87181,87181,87181,18,2020-04-28 03:59:00,2020-04-28 18:17:00,19a1e429793f41c5ba7894f7a8173c1789628184
16,KS,3491,1.0,1.0,1.0,0.0,B,3.0,C,24599,...,4/28 14:22,124,504.0,28090,28090,28090,20,2020-04-28 14:00:00,2020-04-28 18:22:00,8251858f19b6f48730478b6ff75d13add0671c38
17,KY,4146,1.0,1.0,1.0,1.0,A,4.0,A,44653,...,4/28 14:58,213,1281.0,48799,48799,48799,21,2020-04-27 21:00:00,2020-04-28 18:58:00,c6859146d8c311e5aac914bf21b4acedc15715ae
18,LA,27286,1.0,1.0,1.0,1.0,A,4.0,B,123822,...,4/28 14:28,1801,NaN,151108,151108,151108,22,2020-04-28 17:00:00,2020-04-28 18:28:00,1e3cd4a22f8ec0e2648520647e151fbe0ba9518e
19,MA,58302,1.0,1.0,0.0,1.0,B,3.0,B,196198,...,4/28 16:34,3153,5515.0,254500,254500,254500,25,2020-04-28 20:00:00,2020-04-28 20:34:00,c309321650b531b1a319c8e8dc7afffdecd1b88a
20,MD,20113,1.0,1.0,1.0,1.0,A,4.0,A,87672,...,4/28 15:52,1016,4268.0,107785,107785,107785,24,2020-04-28 14:00:00,2020-04-28 19:52:00,587c7b2f1d5d740d50c133c7cf3d79bab6a028a3
21,ME,1040,1.0,1.0,1.0,1.0,A,4.0,B,16784,...,4/28 14:29,51,163.0,17824,17824,17824,23,2020-04-28 15:45:00,2020-04-28 18:29:00,0eb57c187742d59d3b0165f32bf18f0ebc3410a3
22,MI,39262,1.0,1.0,0.0,1.0,B,3.0,A+,125543,...,4/28 16:21,3567,NaN,164805,164805,164805,26,2020-04-28 15:00:00,2020-04-28 20:21:00,e9a9aa47222faf95082ca2cb25e9da708d16aa48
23,MN,4181,1.0,1.0,1.0,1.0,A,4.0,A,59648,...,4/28 14:32,301,912.0,63829,63829,63829,27,2020-04-27 21:00:00,2020-04-28 18:32:00,9a14b8c0ec1d91dbbfa8b65a72f78bf049492d6c
24,MO,7303,1.0,1.0,1.0,1.0,A,4.0,A,66200,...,4/28 15:07,314,NaN,73503,73503,73503,29,2020-04-28 19:00:00,2020-04-28 19:07:00,9021ea81e6028ba06cd411c93aadd930a5229719
25,MS,6342,1.0,1.0,1.0,1.0,A,4.0,B,58070,...,4/28 14:36,239,1088.0,64412,64412,64412,28,2020-04-27 23:00:00,2020-04-28 18:36:00,b74ed66e8c661abfa527b36c3e5ff39452867511
26,MT,451,1.0,1.0,1.0,1.0,A,4.0,C,12740,...,4/28 14:38,15,61.0,13191,13191,13191,30,2020-04-28 04:00:00,2020-04-28 18:38:00,5d92f499d6c4c11c2eff5cc6f4a0b4888cdd826f
27,NC,9568,1.0,1.0,1.0,1.0,A,4.0,B,103184,...,4/28 14:39,342,NaN,112752,112752,112752,37,2020-04-28 15:00:00,2020-04-28 18:39:00,096f3f249eaad0251579ed743c2e4502ea57af6e
28,ND,991,1.0,1.0,1.0,0.0,B,3.0,C,22732,...,4/28 14:40,19,79.0,23723,23723,23723,38,2020-04-28 17:00:00,2020-04-28 18:40:00,23952cda813f097c53c00271ac12f1116a40ef04
29,NE,3358,1.0,1.0,1.0,1.0,A,4.0,D,20247,...,4/28 15:14,55,NaN,23605,23605,23605,31,2020-04-27 23:45:00,2020-04-28 19:14:00,4c102d03427cb85f4be0cef75003889aff4cab21
30,NH,1938,1.0,1.0,1.0,0.0,B,3.0,C,18207,...,4/28 15:50,60,246.0,20368,20145,20145,33,2020-04-27 13:00:00,2020-04-28 19:50:00,6ba0b455af0779e38d232b0555a8a320bfac62a3
31,NJ,113856,1.0,1.0,1.0,1.0,A,4.0,A+,120503,...,4/28 15:52,6442,NaN,234359,234359,234359,34,2020-04-28 17:00:00,2020-04-28 19:52:00,a9761e3fa53afb32d90441175b62ff545d7fe26e
32,NM,2823,1.0,1.0,1.0,1.0,A,4.0,C,55980,...,4/28 15:11,104,481.0,58803,58803,58803,35,2020-04-27 22:04:00,2020-04-28 19:11:00,6f38c6869e6effe51f06b1859188bfb356d233af
33,NV,4805,1.0,1.0,1.0,1.0,A,4.0,F,35314,...,4/28 16:02,219,NaN,40119,40119,40119,32,2020-04-28 14:00:00,2020-04-28 20:02:00,8d65c1e4efbcb85f60ba9bfde3ac25e795ebc118
34,NY,295106,1.0,1.0,1.0,1.0,A,4.0,B,549888,...,4/28 16:23,17638,64275.0,844994,844994,844994,36,2020-04-28 04:00:00,2020-04-28 20:23:00,02cee9e9406f20d17406830305c67c7f7cbd50cc
35,OH,16128,1.0,1.0,0.0,1.0,B,3.0,B,106578,...,4/28 15:34,799,3340.0,122706,122706,122706,39,2020-04-28 18:00:00,2020-04-28 19:34:00,b680b803f01ab8d9ed771c703b998b3bd0be7352
36,OK,3410,1.0,1.0,0.0,1.0,B,3.0,A,56289,...,4/28 16:21,207,656.0,59699,59699,59699,40,2020-04-28 04:00:00,2020-04-28 20:21:00,200835369f6cc8480029e31b6cdc83728f7ba9e9
37,OR,2354,1.0,1.0,1.0,1.0,A,4.0,A,48844,...,4/28 15:31,92,554.0,51198,51198,51198,41,2020-04-27 15:00:00,2020-04-28 19:31:00,a1e3e13e24905096db7cbfe4f5d5d3d758335e3b
38,PA,43264,1.0,1.0,1.0,1.0,A,4.0,B,165824,...,4/28 15:04,1716,NaN,209088,209088,209088,42,2020-04-28 04:00:00,2020-04-28 19:04:00,822d02d36e4a336d12144731409eec5c73c6994f
39,RI,7926,1.0,1.0,1.0,0.0,B,3.0,A+,49767,...,4/28 15:19,239,732.0,57693,57693,57693,44,2020-04-28 16:00:00,2020-04-28 19:19:00,13696baaacc342edafa08aa9cbac343ca6fcc5e6
40,SC,5613,1.0,1.0,1.0,0.0,B,3.0,B,46532,...,4/28 14:24,177,944.0,52145,52145,52145,45,2020-04-27 20:30:00,2020-04-28 18:24:00,f31adfc0cd02088d8289840bfdb33aa7ebdb07da
41,SD,2313,1.0,1.0,1.0,1.0,A,4.0,C,14299,...,4/28 16:32,11,157.0,16612,16612,16612,46,2020-04-27 22:00:00,2020-04-28 20:32:00,8db4141335769245979af1be6a37512790728731
42,TN,10052,1.0,1.0,1.0,1.0,A,4.0,B,151876,...,4/28 15:36,188,894.0,161928,161928,161928,47,2020-04-28 19:00:00,2020-04-28 19:36:00,59a4d80b654857bea86b2048b8e5851d2af9ec05
43,TX,26171,1.0,1.0,1.0,1.0,A,4.0,B,274213,...,4/28 14:31,690,NaN,300384,300384,300384,48,2020-04-28 17:00:00,2020-04-28 18:31:00,964d7fd241d95b9210667f506c0ca89a16d74eb3
44,UT,4343,1.0,1.0,1.0,1.0,A,4.0,C,98096,...,4/28 14:44,45,370.0,102439,102439,102439,49,2020-04-28 19:00:00,2020-04-28 18:44:00,688409cd8ae4fa6f3cef5f4f72b643b66026fd7d
45,VA,13794,1.0,1.0,1.0,1.0,A,4.0,B,68959,...,4/28 16:05,492,3422.0,83313,82753,82753,51,2020-04-27 21:00:00,2020-04-28 20:05:00,b8b967b36db98c0e3598afa7482009789834f3e0
46,VT,862,1.0,1.0,1.0,1.0,A,4.0,C,14353,...,4/28 16:25,47,NaN,15215,15215,15215,50,2020-04-28 14:42:00,2020-04-28 20:25:00,e6762e7faa544f66cfa9266415c01d1ca2260abf
47,WA,13686,0.0,1.0,0.0,1.0,C,2.0,B,165993,...,4/28 16:00,765,NaN,179679,179679,179679,53,2020-04-27 06:59:00,2020-04-28 20:00:00,920c41949623bcb5fa3fbf3f5376200fdb2d6411
48,WI,6289,1.0,1.0,1.0,1.0,A,4.0,A,63535,...,4/28 15:38,300,1456.0,70017,69824,69824,55,2020-04-28 20:00:00,2020-04-28 19:38:00,3a07dae4ffd6c9297581c4830cbcd7c44530aeb3
49,WV,1079,1.0,1.0,1.0,0.0,B,3.0,C,41976,...,4/28 15:50,37,NaN,43055,43055,43055,54,2020-04-28 14:00:00,2020-04-28 19:50:00,ad2b5c52e8f8be871920099295a74a768e9761f7
50,WY,389,1.0,1.0,1.0,1.0,A,4.0,C,8226,...,4/28 15:46,7,56.0,8615,8615,8615,56,2020-04-27 21:05:00,2020-04-28 19:46:00,8a2ae61574964fcfdd97901777a326db8fa2e90c
51,PR,1400,1.0,1.0,1.0,1.0,A,4.0,D,9313,...,4/28 15:30,86,NaN,12653,10713,10713,72,2020-04-28 10:30:00,2020-04-28 19:30:00,588aaabd3558fda4fc2d9a3f84088f49af77d569
52,AS,0,NaN,NaN,NaN,NaN,NaN,NaN,F,3,...,4/28 16:12,0,NaN,20,3,3,60,2020-04-19 04:00:00,2020-04-28 20:12:00,56cb111e0e67054c025020a8b825a6cadf437f80
53,GU,145,NaN,NaN,NaN,NaN,NaN,NaN,D,1538,...,4/28 14:43,5,NaN,1683,1683,1683,66,2020-04-28 13:15:00,2020-04-28 18:43:00,3faa6493fb85863f5711d7b2e4c09fb9accb2428
54,MP,14,NaN,NaN,NaN,NaN,NaN,NaN,D,51,...,4/28 15:12,2,NaN,65,65,65,69,2020-04-28 04:00:00,2020-04-28 19:12:00,e3ef07fbed1b3687c6f54f28de7c15117bd6d61b
55,VI,59,NaN,NaN,NaN,NaN,NaN,NaN,C,719,...,4/28 15:40,4,NaN,835,778,778,78,2020-04-27 04:00:00,2020-04-28 19:40:00,7a8802bec2ccf1284c78a7fd4880be1b4afc8622